:root {
   /* type base */
   --type-base: 16px;

   /* type levels */
   --level-min-two: 12px;
   --level-min-one: 15px;
   --level-one: 16px;
   --level-three: 20px;
   --level-five: 30px;
   --level-six: 42px;
}

@media (min-width: 720px) {
   :root {
   /* type base */
   --type-base: 17px;

   /* type levels */
   --level-min-two: 12px;
   --level-min-one: 15px;
   --level-one: 16px;
   --level-three: 20px;
   --level-five: 30px;
   --level-six: 42px;
   }
}

@media (min-width: 1080px) {
   :root {
   /* type base */
   --type-base: 18px;

   /* type levels */
   --level-min-two: 12px;
   --level-min-one: 15px;
   --level-one: 16px;
   --level-three: 20px;
   --level-five: 30px;
   --level-six: 42px;
   }
}

@media (min-width: 1440px) {
   :root {
   /* type base */
   --type-base: 19px;

   /* type levels */
   --level-min-two: 12px;
   --level-min-one: 15px;
   --level-one: 16px;
   --level-three: 20px;
   --level-five: 30px;
   --level-six: 42px;
   }
}



/* Set-up */
body {
   background-color: #050506;
   color: #8A8A8D;
   font-family: "Relative-book", "sans-serif";
   font-weight: 400;
}

.nav-block {
   align-items: center;
}


.container {
   padding: 0 2rem;
}

@media (min-width: 720px) {
   .container {
      padding: 0 4rem;
   }
}

@media (min-width: 1080px) {
   .container {
      padding: 0 6rem;
   }
}

@media (min-width: 1440px) {
   .container {
      padding: 0 8rem;
   }
}

.container-flex {
   display: flex;
}

/* nav */
.nav-block {
   background-color: #3D3D41;
   height: 35px;
}

@media (min-width: 450px) {
   .nav-block {
      background-color: #3D3D41;
      height: 45px;
   }
}

/* Type-block */

   /* region-small */
.type-block {
   flex-direction: column;
   justify-content: space-between;
   padding: 3rem 0;
   height: 85vh;
   width: 100%;
}

.type-block .hero {
   margin-bottom: 2.5rem;
}

.type-block .h1 {
   margin-bottom: 1rem;
}

.type-block .bread-crumb {
   margin-bottom: 3.5rem;
}

/* region medium */
@media (min-width: 720px) {
   .type-block {
      width: 80%;
   }
   .type-block .hero {
      margin-bottom: 3rem;
   }

   .type-block .h1 {
      margin-bottom: 1.5rem;
   }
}

/* region large */
@media (min-width: 1080px) {
   .type-block {
      width: 70%;
   }

   .type-block .hero {
      margin-bottom: 3.5rem;
   }

   .type-block .h1 {
      margin-bottom: 2rem;
   }
}

/* region xtra-large */
@media (min-width: 1440px) {
   .type-block {
      width: 60%;
   }

   .type-block .hero {
      margin-bottom: 3.5rem;
   }

   .type-block .h1 {
      margin-bottom: 2.5rem;
   }
}

/* Type styles */

/* css does not update the DOM when a variable is changed */
.hero {
   font-size: calc(var(--level-six) * var(--type-base));
   color: #FFF;
   font-family: "Relative-faux";
}

.h1 {
   font-size: var(--level-five);
   line-height: 1.2;
}

.h3 {
   font-size: var(--level-three);
   line-height: 1.4;
}

.body-small {
   font-size: var(--level-min-one);
}

.body-chart {
   font-size: var(--level-min-two);
}

strong {
   border-bottom: 4px solid #FF375F;
}


/* region medium */
@media (min-width: 720px) {
   body {
      font-size: 17px;
   }

   .hero {
      font-size: calc(var(--level-six) * var(--type-base));
      color: #FFF;
      font-family: "Relative-faux";
   }

   .h1 {
      font-size: var(--level-five);
   }

   .h3 {
      font-size: var(--level-three);
   }

   .body-small {
      font-size: var(--level-min-one);
   }

   .body-chart {
      font-size: var(--level-min-two);
   }

   strong {
      border-bottom: 6px solid #FF375F;
   }
}

/* region large */
@media (min-width: 1080px) {
   body {
      font-size: 18px;
   }

   .hero {
      font-size: calc(var(--level-six) * var(--type-base));
      color: #FFF;
      font-family: "Relative-faux";
   }

   .h1 {
      font-size: var(--level-five);
   }

   .h3 {
      font-size: var(--level-three);
   }

   .body-small {
      font-size: var(--level-min-one);
   }

   .body-chart {
      font-size: var(--level-min-two);
   }

   strong {
      border-bottom: 7px solid #FF375F;
   }
}


/* region xtra-large */
@media (min-width: 1440px) {
   body {
      font-size: 19px;
   }

   .hero {
      font-size: calc(var(--level-six) * var(--type-base));
      color: #FFF;
      font-family: "Relative-faux";
   }

   .h1 {
      font-size: var(--level-five);
   }

   .h3 {
      font-size: var(--level-three);
   }

   .body-small {
      font-size: var(--level-min-one);
   }

   .body-chart {
      font-size: var(--level-min-two);
   }

   strong {
      border-bottom: 8px solid #FF375F;
   }
}
/* reference point can be determined by screen width */
/* how can ratio be determined? */
