/* Font loading */
@font-face {
   font-family: "typeface bold";
   src: url("fonts/typeface-bold.woff2") format("woff2");
}

/* Header styling */
.hero, .h1, .h2, .h3, .h4 {
   font-family: "Roboto", serif;
}

/* Body styling */
.body-big, .body, .body-small, .body-x-small {
   font-family: "Roboto", sans-serif;
}

/* add your own layout rules here */
