
/* Set-up */
body {
   background-color: #FFF;
   color: #8A8A8D;
   font-family: "Relative-Book", "sans-serif";
}

/*/////////////// Type ////////////////*/

/* font loading */
@font-face {
   font-family: "Relative-Bold";
   src: url("fonts/Relative-Bold-Web.woff2") format("woff2"),
   url("fonts/Relative-Bold-Web.woff") format("woff");
}
@font-face {
   font-family: "Roboto";
   src: url("fonts/Relative-Book-Web.woff2") format("woff2"),
   url("fonts/Relative-Book-Web.woff") format("woff");
}
@font-face {
   font-family: "Relative-Faux";
   src: url("fonts/Relative-Faux-Web.woff2") format("woff2"),
   url("fonts/Relative-Faux-Web.woff") format("woff");
}
/* end of: font loading */


/* font styling */
.hero {
   line-height: 1.2;
   font-family: "Relative-Faux", "sans-serif";
   color: #FFF;
}

.h1, .h2, .h3 {
   line-height: 1.25;
}

.h4 {
   line-height: 1.4;
}

.body {
   line-height: 1.5;
}

.body-small {
   line-height: 1.4;
}

.body-chart {
   line-height: 1.2;
}
/* end of: font styling */


/*/////////////// Layout ////////////////*/

.container {
   padding: 0 1rem;
}

@media (min-width: 720px) {
   .container {
      padding: 0 4rem;
   }
}

@media (min-width: 1080px) {
   .container {
      padding: 0 6rem;
   }
}

@media (min-width: 1440px) {
   .container {
      padding: 0 8rem;
   }
}

.container-flex {
   display: flex;
}
