:root {
   /* type base */
   --type-base: 0;

   /* type levels */
   --level-min-two: 0;
   --level-min-one: 0;
   --level-one: 0;
   --level-two: 0;
   --level-three: 0;
   --level-four: 0;
   --level-five: 0;
   --level-six: 0;
}

@media (min-width: 720px) {
   :root {
   /* type base */
   --type-base: 0;

   /* type levels */
   --level-min-two: 0;
   --level-min-one: 0;
   --level-one: 0;
   --level-two: 0;
   --level-three: 0;
   --level-four: 0;
   --level-five: 0;
   --level-six: 0;
   }
}

@media (min-width: 1080px) {
   :root {
   /* type base */
   --type-base: 0;

   /* type levels */
   --level-min-two: 0;
   --level-min-one: 0;
   --level-one: 0;
   --level-two: 0;
   --level-three: 0;
   --level-four: 0;
   --level-five: 0;
   --level-six: 0;
   }
}

@media (min-width: 1440px) {
   :root {
   /* type base */
   --type-base: 0;

   /* type levels */
   --level-min-two: 0;
   --level-min-one: 0;
   --level-one: 0;
   --level-two: 0;
   --level-three: 0;
   --level-four: 0;
   --level-five: 0;
   --level-six: 0;
   }
}


/* Type styles */

/* css does not update the DOM when a variable is changed */
.hero {
   font-size: calc(var(--type-base) * var(--level-six));
   color: #FFF;
   font-family: "Relative-faux";
}

.h1 {
   font-size: calc(var(--type-base) * var(--level-five));
   line-height: 1.2;
}

.h2 {
   font-size: calc(var(--type-base) * var(--level-four));
   line-height: 1.2;
}

.h3 {
   font-size: calc(var(--type-base) * var(--level-three));
   line-height: 1.2;
}

.h4 {
   font-size: calc(var(--type-base) * var(--level-two));
   line-height: 1.4;
}

.body {
   font-size: calc(var(--type-base) * var(--level-One));
   line-height: 1.5;
}


.body-small {
   font-size: calc(var(--type-base) * var(--level-min-one));
   line-height: 1.4;
}

.body-chart {
   font-size: calc(var(--type-base) * var(--level-min-two));
   line-height: 1.2;
}

strong {
   border-bottom: 5px solid #FF375F;
}


/* region medium */
@media (min-width: 720px) {

   /* note these styles are only here to facilitate css recalling the updated properties */

   .hero {
      font-size: calc(var(--type-base) * var(--level-six));
   }

   .h1 {
      font-size: calc(var(--type-base) * var(--level-five));
   }

   .h2 {
      font-size: calc(var(--type-base) * var(--level-four));
   }

   .h3 {
      font-size: calc(var(--type-base) * var(--level-three));
   }

   .h4 {
      font-size: calc(var(--type-base) * var(--level-two));
   }

   .body {
      font-size: calc(var(--type-base) * var(--level-One));
   }

   .body-small {
      font-size: calc(var(--type-base) * var(--level-min-one));
   }

   .body-chart {
      font-size: calc(var(--type-base) * var(--level-min-two));
   }

   strong {
      border-bottom: 6px solid #FF375F;
   }
}

/* region large */
@media (min-width: 1080px) {

   .hero {
      font-size: calc(var(--type-base) * var(--level-six));
   }

   .h1 {
      font-size: calc(var(--type-base) * var(--level-five));
   }

   .h2 {
      font-size: calc(var(--type-base) * var(--level-four));
   }

   .h3 {
      font-size: calc(var(--type-base) * var(--level-three));
   }

   .h4 {
      font-size: calc(var(--type-base) * var(--level-two));
   }

   .body {
      font-size: calc(var(--type-base) * var(--level-One));
   }

   .body-small {
      font-size: calc(var(--type-base) * var(--level-min-one));
   }

   .body-chart {
      font-size: calc(var(--type-base) * var(--level-min-two));
   }

   strong {
      border-bottom: 9px solid #FF375F;
   }
}


/* region xtra-large */
@media (min-width: 1440px) {

   .hero {
      font-size: calc(var(--type-base) * var(--level-six));
   }

   .h1 {
      font-size: calc(var(--type-base) * var(--level-five));
   }

   .h2 {
      font-size: calc(var(--type-base) * var(--level-four));
   }

   .h3 {
      font-size: calc(var(--type-base) * var(--level-three));
   }

   .h4 {
      font-size: calc(var(--type-base) * var(--level-two));
   }

   .body {
      font-size: calc(var(--type-base) * var(--level-One));
   }

   .body-small {
      font-size: calc(var(--type-base) * var(--level-min-one));
   }

   .body-chart {
      font-size: calc(var(--type-base) * var(--level-min-two));
   }

   strong {
      border-bottom: 13px solid #FF375F;
   }
}
/* reference point can be determined by screen width */
/* how can ratio be determined? */
