html {
   box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cp-block {

   width: 300px;
   height: 100%;
   padding: 2.2rem 0 0 2rem;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 2;
   background-color: #FFF;
   color: #222;
   font-family: 'Apercu', sans-serif;
   transform: translateX(300px);
   transition: all 0.4s ease;
}

/* fixing cp-panel inside cp block in order to enamble scrolling */
.cp-panel {
   position: fixed
   top: 0;
   padding-right: 2rem;
   height: 100%;
   overflow: auto;
   overflow-x: hidden;
}

.cp-button {
   height: 40px;
   width: 40px;
   transform: rotate(45deg);
   border-bottom-left-radius: 10px;
   position: absolute;
   left: -20px;
   top: 48vh;
   z-index: 3;
   background-color: #FFF;
   transition: all 0.3s ease;
}

.cp-button img {
   padding-top: 1.3rem;
   padding-left: 0.25rem;
   transform: rotate(-45deg);
}

.cp-button:hover {
   transform: scale(1.1) rotate(45deg);
}

/* Type */
.control-panel h1 {
   font-family: "Domaine";
   font-size: 24px;
   margin-bottom: 0.5rem;
   line-height: 1.4;
}

.control-panel h4 {
   margin-bottom: 0.5rem;
   font-size: 16px;
}

.control-panel p, input, output {
   font-size: 14px;
   line-height: 1.4;
}

.emphasis {
   color: #CACACA;
   font-weight: 400;
}

.control-panel hr {
   margin-bottom: 1rem;
   border-color: #CCC;
   border-width: 1px;
}


.cp-panel .cp-form-block{
   margin-top: 2rem;
}

.cp-form {
   display: flex;
   justify-content: space-between;
}

.cp-form-block p {
   margin-top: 0.36rem;
}

.cp-break-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cp-break-wrapper svg {
   height: 22px;
}
.cp-break-wrapper input {
   margin: 0 3px;
}

.cp-form-block .break-title {
   margin-bottom: 1rem;
}

   /* adjust spacing on second row */
.cp-break-wrapper .space-left {
   margin-left: 42px;
}

.cp-break-wrapper {
   margin-bottom: 0.25rem;
}


.control-panel input, output {
   color: #222;
   background-color: #FFF;
   margin-top: 0.2rem;
   height: 22px;
   width: 40px;
   display: block;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-color: #CCC;
   text-align: right;
}

.cp-break-wrapper input {
   width: 37px;
   text-align: center;
}

.control-panel input:focus {
   border-color: #1432FF;
   color: #222;
   outline: none;
}

.cp-input-block input:first-child {
   margin-top: 0;
}

/* js classes */
.cp-shift {
   transform: translateX(0px);
   box-shadow: -6px 0px 35px #EEE;
}

/* break sections */
#break-bg {
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   z-index: -1;
}

#break-mark-1, #break-mark-2, #break-mark-3, #break-mark-4 {
   border-right: 1px dashed #CCC;
   height: 100%;

}

#break-mark-1 {
   min-width: 517px;
}
#break-mark-2 {
   min-width: calc(835px - 517px);
}
#break-mark-3 {
   min-width: calc(1355px - 835px);
}
#break-mark-4 {
   min-width: calc(2193px - 1355px);
}


/* visibility */
/* .break2, .break3, .break4 {
   display: none;
} */

/* @media (min-width: 517px) {
   .break2 {
      display: initial;
   }
}
@media (min-width: 838px) {
   .break3 {
      display: initial;
   }
}
@media (min-width: 1355px) {
   .break4 {
      display: initial;
   }
} */
