html {
   box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.control-panel {
   color: #8A8A8D;
   font-family: 'Roboto', sans-serif;

}

.cp-block {
   width: 300px;
   height: 100%;
   background-color: #3D3D41;
   padding: 3rem 2rem;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 2;
   transform: translateX(300px);
   transition: all 0.5s ease;
}

.cp-button {
   height: 40px;
   width: 40px;
   transform: rotate(45deg);
   border-bottom-left-radius: 10px;
   position: absolute;
   left: -20px;
   top: 48vh;
   z-index: 3;
   background-color: #3D3D41;
   transition: all 0.3s ease;
}

.cp-button img {
   padding-top: 1.3rem;
   padding-left: 0.25rem;
   transform: rotate(-45deg);
}

.cp-button:hover {
   transform: scale(1.1) rotate(45deg);
}

/* Type */
.control-panel h1 {
   color: #CACACA;
   font-size: 20px;
   margin-bottom: 0.5rem;
}

.control-panel h4 {
   margin-bottom: 0.5rem;
   font-size: 16px;
}

.control-panel p, input {
   font-size: 14px;
   line-height: 1.4;
}

hr {
   margin-bottom: 1rem;
   border-color: #8A8A8D;
}


.cp-panel .cp-form-block{
   margin-top: 2rem;
}

.cp-panel .cp-form-block:first-child {
   margin-top: 2.5rem;
}

.cp-form {
   display: flex;
   justify-content: space-between;
}

.cp-form-block p {
   margin-top: 0.3rem;
}

.cp-print-block p {
   color: #CACACA;
}

.control-panel input {
   color: #8A8A8D;
   background-color: #3D3D41;
   margin-top: 0.2rem;
   height: 22px;
   width: 40px;
   display: block;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-color: #8A8A8D;
   text-align: right;
}

.control-panel input:focus {
   border-color: #CACACA;
   color: #CACACA;
   outline: none;
}

.cp-input-block input:first-child {
   margin-top: 0;
}

/* js classes */
.cp-shift {
   transform: translateX(0px);
   box-shadow: -12px 0px 60px #000;
}
