/* ///////////////////////// Set-up ////////////////////////////// */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.type-wrapper {
   padding-top: 3rem;
}

.bread-crumb {
   margin-bottom: 3.5rem;
}

@font-face {
   font-family: "Domaine";
   src: url("cp-fonts/DomaineDisplayTest-Medium.woff") format("woff");
}

/* Set-up */
body {
   background-color: #F4F4F4;
   color: #222;
   font-family: "Open Sans", "sans-serif";
}

a {
   color: #222;
}

/* line-height */
.hero {line-height: 1.2;}
.h1 {line-height: 1.4;}
.h2 {line-height: 1.55;}
.h3 {line-height: 1.7;}
.h4 {line-height: 1.9;}
.body-big {line-height: 2;}
.body {line-height: 2.1;}
.body-small {line-height: 2.1; margin-top: 0.5rem;}
.body-x-small {line-height: 2.1; margin-top: 0.5rem;}

/* end of: font styling */


/* ///////////////////////// end of: Set-up ////////////////////////////// */


/* Panel */
.cp-block {

   width: 300px;
   height: 100%;
   padding: 0 0 0 2rem;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 2;
   background-color: #FFF;
   color: #222;
   font-family: 'Open Sans', sans-serif;
   transform: translateX(300px);
   transition: all 0.4s ease;
}

/* fixing cp-panel inside cp block in order to enamble scrolling */
.cp-panel {
   position: fixed
   top: 0;
   padding-top: 2.2rem;
   padding-right: 2rem;
   padding-bottom: 2rem;
   height: 100%;
   overflow: auto;
   overflow-x: hidden;
}

.cp-button {
   height: 40px;
   width: 40px;
   transform: rotate(45deg);
   border-bottom-left-radius: 10px;
   position: absolute;
   left: -20px;
   top: 48vh;
   z-index: 3;
   background-color: #FFF;
   transition: all 0.3s ease;
}

.cp-button img {
   padding-top: 1.3rem;
   padding-left: 0.25rem;
   transform: rotate(-45deg);
}

.cp-button:hover {
   transform: scale(1.1) rotate(45deg);
}

/* Type */
.control-panel .logo {
   margin-top: 0.8rem;
   margin-bottom: 1.2rem;
   height: 30px;
}

.control-panel .em-dash {
   width: 20px;
   background-color: #222;
   height: 1px;
   margin-bottom: 1.2rem;
}

/* set type color */
.control-panel h1, .intro, h4 {
   color: #222;
}

.control-panel .intro {
   margin-bottom: 0.5rem;
}

/* setting opacity to be over-ridden by 'active' class */
.control-panel .label {
   opacity: 0.3;
}

.control-panel h4 {
   margin-bottom: 0.5rem;
   font-size: 15px;
}

.control-panel p, input, output {
   font-size: 13.5px;
   line-height: 1.5;
}

.control-panel hr {
   margin-bottom: 1rem;
   border-color: #CCC;
   border-width: 1px;
}

.cp-panel .cp-form-block{
   margin-top: 2rem;
}

.cp-form {
   display: flex;
   justify-content: space-between;
}

.cp-form-block p {
   margin-top: 0.36rem;
}

.cp-break-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cp-break-wrapper:last-child {
   margin-top: 0rem;
   padding: 0 1.1rem;
}

.cp-break-wrapper img {
   height: 28px;
}

.cp-break-wrapper input {
   margin: 0 3px;
}
.cp-break-wrapper .divider {
   height: 12px;
   width: 2px;
   background-color: #222;
   opacity: 0.5;
}


.cp-form-block .break-title {
   margin-bottom: 1rem;
}

.cp-break-wrapper .cp-icon-spacer, .cp-input-spacer {
   opacity: 0;
}

.cp-break-wrapper .cp-icon-fill {
   display: none;
}

.control-panel input, output {
   background-color: #FFF;
   margin-top: 0.2rem;
   height: 22px;
   width: 40px;
   display: block;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-color: #999;
   text-align: right;
   opacity: 0.3;
}

output, input.alwaysOn {
   opacity: 1;
}

.cp-break-wrapper input {
   width: 37px;
   text-align: center;
}

.control-panel input:focus {
   border-color: #1432FF;
   color: #222;
   outline: none;
   opacity: 1;
}

.cp-input-block input:first-child {
   margin-top: 0;
}

/* js classes */
.cp-shift {
   transform: translateX(0px);
   box-shadow: -6px 0px 35px #EEE;
}

.active {
   opacity: 1 !important;
}

/* end of: js classes */


/* break sections */
#break-bg {
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   z-index: -1;
}

#break-line-1, #break-line-2, #break-line-3, #break-line-4 {
   border-right: 1px dashed #CCC;
   height: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

#break-line-1, #break-line-2, #break-line-3, #break-line-4 p {
   font-size: 12px;
   padding: 0 1rem 1rem 0;
   color: #999;
}

.container-flex {
   display: flex;
}
