#break-bg {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

#break-line-1,
#break-line-2,
#break-line-3,
#break-line-4 {
  border-right: 1px dashed var(--color-light-grey);
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#break-line-1,
#break-line-2,
#break-line-3,
#break-line-4 p {
  font-size: 12px;
  padding: 0 1rem 1rem 0;
  color: var(--color-mid-grey);
}