.tip-box {
  padding: 0.8rem 0 0.8rem 1rem;
  /* border: 1px solid var(--color-v-light-grey); */
  border-radius: 3px;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  transform-origin: top;
  background-color: var(--color-canvas);
  transition: max-height 1s ease-in;
  display: flex;
  align-items: flex-start;
}

.tip-box[data-tipbox="hide"] {
  max-height: 0;
  visibility: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
  opacity: 0;
}

.tip-box[data-tipbox="hide"] button {
  display: none;
}

.tip-message {
  opacity: 0;
}
.tip-box[data-tipbox="show"] .tip-message {
  transition: opacity 1s ease;
  opacity: 1;
}

.tip-box img {
  height: 16px;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tip-box img:hover {
  transform: scale(1.15);
}

.tip-box p {
  margin-top: 0;
}
