.value-readout {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value-readout::after {
  position: absolute;
  margin-left: 1rem;
  padding: 0 0.5rem;
  vertical-align: top;
  content: attr(data-content);
  white-space: nowrap;
  background-color: var(--color-v-light-grey);
  font-size: 12px;
  font-family: "Open Sans";
  color: var(--color-dark-grey);
}