@font-face {
  font-family: '';
  src: url('') format("woff2");
}

/* Headings */
.hero, .h1, .h2, .h3, .h4 {
  font-family: 'Bitter', serif;
}

/* Body */
.body-big, .body, .body-small, .body-x-small {
  font-family: 'Open Sans', sans-serif;
}